#logo {
    /* background-color: aqua; */
    position: absolute;
    top: 10px;
    left: 10px;
}

#title {
    position: absolute;
    top: 35px;
    left: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    color: #000; 
    font-size: 26px;
    margin: 0;
    padding: 0;
}

#email {
    position: absolute;
    top: 35px;
    right: 10px;
    text-align: left;
    vertical-align: top;
    /* background-color: aqua; */

}

#sub-title {
    /* background-color: red; */
    position: absolute;
    top: 73px;
    left: 10px;
    width: 900px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #555;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#summary-mapArea {
    /* background-color: red; */
    position: absolute;
    top: 126px;
    left: 10px;
    right: 10px;
    bottom: 42px;
}

/* ACTIVITY 6 - Lesson 2 & 3 */
/* ACTIVITY 6 - Lesson 2 & 3*/

.sequence-control-container {  
    width: 350px;  
    height: 30px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  

.range-slider {  
    width: 250px;  
}  

.step {  
    width: 40px;  
}  

.step img {  
    width: 100%;  
    height: auto;  
} 

.legend-control-container {  
    width: 250px;  
    height: 350px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  

/* ACTIVITY 6 - Lesson 2 & 3*/
/* ACTIVITY 6 - Lesson 2 & 3*/

#map-title {
    background-color: blue;
    position: absolute;
    top: 0;
    margin: 0;
    z-index: 1000;
}

#zoom-controls {
    background-color: pink;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    text-align: right;
    z-index: 1000;
}

#map {
    background: red;
    position: absolute;
    height: 100%;
    width: 100%;

}

#credits {
    background-color: purple;
}

#notes {
    background-color: yellow;
}